.DS_Store
*.ipynb_checkpoints/
*venv/
*.idea/
*__pycache__/

# Hide token for todoist api
*api_token.py

# Hide folder with sensitive info
*ignore_me/
/hmo_cleansing/waltham_forest/2021_10_12_133312waltham_forest_prpl_register.csv
