pygments==2.8.1
wcwidth==0.1.7
decorator==4.4.0
traitlets==4.3.2
parso==0.5.0
numpy==1.20.2
chardet==3.0.4
ptyprocess==0.6.0
pandas==1.2.4
tornado==6.0.3
six==1.15.0
pytz==2019.1
certifi==2019.6.16
pexpect==4.7.0
jedi==0.13.3
pickleshare==0.7.5
ipywidgets==7.5.0
geopy==2.1.0
asn1crypto==0.24.0
colorama==0.4.4
backcall==0.1.0
urllib3==1.24.2
geographiclib==1.50
cryptography==2.7
requests==2.24.0
bottleneck==1.2.1
ipykernel==5.1.1
idna==2.8
